.animation-two-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .center{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:0;
        height: 160px;
        border-left: 6px dashed $white;
        .arrow{
            position: absolute;
            top:0;
            left:-6px;
            height: 40px;
            width: 6px;
            background: $white;
            animation: animateTwo 2s infinite;
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left:-15px;
                width: 30px;
                height: 30px;
                border-bottom: 8px solid $white;
                border-right: 8px solid $white;
                transform:  rotate(45deg);
            }
        }
    }
    .text{
        padding-top:25%;
        color: $white;
        font-weight: bold;
        letter-spacing: 0.9px;
        font: size 20px;
        animation: animationText 1s infinite;
    }
}
@keyframes animationText{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animateTwo {
    0%{
        transform : translateY(0);
        opacity: 1;
    }
    20%{
        transform : translateY(30px);
        opacity: 0.8;
    }
    40%{
        transform : translateY(60px);
        opacity: 0.6;
    }
    60%{
        transform : translateY(90px);
        opacity: 0.4;
    }
    80%{
        transform : translateY(120px);
        opacity: 0.2;
    }
    100%{
        transform : translateY(160px);
        opacity: 0;
    }
}

